{%extends "layout.html"%}
{% block main %}
<style media="screen">
  button{
    margin: 13px;
  }
</style>
<form action="/sell" method="post">
  <div class="form-group">
    <select class="form-control" name="select">
      <option disabled selected>Symbol</option>
      {% for item in clean_list%}
        <option>{{item}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="from-group">
    <input class="form-control" type="number" name="shares" placeholder="Shares">
  </div>
  <button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endblock %}
